*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body
{
    background: url(timebg.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form
{
    background-color: #454545;
    border: 2px solid white;
    padding: 30px;
    text-align: center;
    border-radius: 30px;
}
h2
{
    color: antiquewhite;
    margin-bottom: 30px;

}
#selectuser
{
    color: antiquewhite;
}
#opselect
{
    margin-bottom: 10px;
}
#task
{
    color: antiquewhite;
}
#tasknumber
{
    margin-bottom: 10px;
}
#viewbutton
{
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    background-color: #454545;
    color: rgb(232, 163, 34);
}
#viewbutton:hover
{
    background-color: black;
    color: white;
    transform: scale(1.2);
    transition: all .3s ease-in-out;
}
#title
{
    color: antiquewhite;
}
#titletext
{
    margin-bottom: 10px;
}
#description
{
    color: antiquewhite;
}
#descriptiontext
{
    margin-bottom: 10px;
}
#created
{
    color: antiquewhite;
}
#createdtext
{
    margin-bottom: 10px;
}
#deadline
{
    color: antiquewhite;
}
#deadlinetext
{
    margin-bottom: 10px;
}
#statuss
{
   color: antiquewhite;
}
#statusstext
{
    margin-bottom: 10px;
}
#edit
{
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    background-color: #454545;
    color: rgb(232, 163, 34);
}
#remove
{
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    background-color: #454545;
    color: rgb(232, 163, 34);
}
p
{
    color: white;
}
a
{
    background-color: #454545;
    text-decoration: none;
    color: rgb(232, 163, 34);
}
